<div class="flex justify-center mt-20 mb-16">
  <div class="w-full lg:ml-0 lg:mr-0 ml-4 mr-4 lg:max-w-4xl bg-gray-100 shadow-xl rounded lg:px-8 pt-6 lg:pb-8 mb-4">
    <h2 class="lg:text-4xl text-3xl ml-2 mr-2 font-serif font-semibold text-center leading-9 mb-8 underline text-gray-700"><%= @park.name %></h2>
      <%= image_tag(@park.url, class: "w-full pt-4 pl-4 pr-4 lg:pl-16 lg:pr-16 pb-8") %>
      <p class="lg:text-xl text-2xl tracking-wider font-semibold leading-7 pr-4 pl-4 font-sans text-black lg:pr-16 lg:pl-16"><%= @park.description %></p>
      <% if current_user.email == "deepakmahajan269@gmail.com" %>
        <div class="flex justify-left ml-4 lg:ml-16 mt-6 mb-4">
          <%= link_to "delete", @park, method: :delete,
                      data: {confirm: "Are you sure you want to delete?"},
                      class: "bg-red-500 hover:bg-red-700 text-white font-sans font-semibold text-sm h-6 w-auto px-2 py-1 rounded mr-2 focus:outline-none focus:shadow-outline" %>
          <%= link_to "edit", edit_park_path(@park),
                        class: "bg-green-500 hover:bg-green-700 text-white font-sans font-semibold text-sm h-6 w-auto px-2 py-1 rounded focus:outline-none focus:shadow-outline"%>
        </div>
      <% end %>
  </div>
</div>
<div class="flex justify-center mr-4 ml-4">
  <div class="container w-full max-w-4xl bg-gray-100 shadow-xl rounded px-8 pt-6 pb-8 mb-4">
    <h2 class="text-xl text-black font-sans font-bold mb-8"><%= @park.parkcomments.count %> Comments</h2>
    <%= render @park.parkcomments %>
  </div>
</div>
<div class="flex justify-center mr-2 ml-2">
  <%= render 'parkcomments/form' %>
</div>
