<!DOCTYPE html>
<html>
  <head>
    <title>Wanderlust</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  </head>

  <body>
  <div id="page-container">
    <%= render 'welcome/navbar' %>
     <div id="content-wrap">
      <% if notice %>
        <div id="notice_wrapper">
          <p class="notice"><%= notice %></p>
        </div>
      <% elsif alert %>
        <div id="alert_wrapper">
          <p class="alert"><%= alert %></p>
        </div>
      <% end %>
     <%= yield %>
   </div>
   <footer id="footer">
     <div class="footer w-full bg-gray-800 h-12 opacity-100">
       <div class="pt-4 mr-4 text-sm text-white text-center">
         Copyright &copy; 2020 Wanderlust
       </div>
     </div>
   </footer>
  </div>
  </body>
</html>
